@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&family=Indie+Flower&display=swap');

/* Main Content */
* {
    margin: 0;
    padding: 0;
    font-family: 'Indie Flower', cursive;
}

body {
    margin: 0;
    display: flex;
    background: -moz-linear-gradient(43deg, rgba(124, 116, 255, 1) 0%, rgba(58, 246, 244, 1) 48%, rgba(100, 70, 255, 1) 66%, rgba(29, 215, 252, 1) 100%);
    background: -webkit-linear-gradient(43deg, rgba(124, 116, 255, 1) 0%, rgba(58, 246, 244, 1) 48%, rgba(100, 70, 255, 1) 66%, rgba(29, 215, 252, 1) 100%);
    background: linear-gradient(43deg, rgba(124, 116, 255, 1) 0%, rgba(58, 246, 244, 1) 48%, rgba(100, 70, 255, 1) 66%, rgba(29, 215, 252, 1) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

p {
    font-size: 22px;
}

/*  */

/* Nav */
a {
    text-decoration: none;
    color: inherit;
}

/* Animations from https://codepen.io/comehope/pen/yxbEzJ */
.navItemDiv {
    padding-left: 25px;
    padding-top: 175px;
}

.navItemDiv .imgh {
    width: 125px;
    height: auto;
    margin-top: -100px;
    border-style: solid;
    border-color: black;
    border-width: 5px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    -ms-border-radius: 150px;
    -o-border-radius: 150px;
}

.icon img {
    width: 25px;
    height: 25px;
    margin-top: 12px;
    margin-left: 35px;
    float: left;
}

.navItem {
    font-size: 24px;
    width: 8em;
    height: 2em;
    text-align: center;
    line-height: 2em;
    text-transform: capitalize;
    position: relative;
    transition: 0.5s;
    margin: 1em;
    padding-top: 5px;
    cursor: pointer;
}

.navItem::before,
.navItem::after {
    content: '';
    position: absolute;
    width: 0.6em;
    height: 0.6em;
    background-color: rgb(80, 240, 248);
    border-radius: 50%;
    transition: 0.5s cubic-bezier(0.5, -0.5, 0.25, 1.5);
    top: calc(50% - 0em / 2);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.navItem::before {
    left: 0;
    z-index: -1;
}

.navItem::after {
    right: 0;
    z-index: -2;
}

.navItem:hover {
    color: white;
}

.navItem:hover::before,
.navItem:hover::after {
    margin-top: 7px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.navItem:hover::before {
    top: 0;
}

.navItem:hover::after {
    top: 15px;
    right: -0.4em;
    filter: brightness(0.8);
}

/*  */

/* Home */
.overview {
    text-align: center;
    margin-top: 250px;
    padding: 25px;
    color: black;
    width: 40%;
    height: fit-content;
    margin-left: 17%;
    border-style: solid;
    border-width: 5px;
    border-color: black;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.overview p {
    display: flex;
    margin: auto;
    padding: auto;
    max-width: 475px;
    font-size: 18px;
}

.nameType {
    white-space: nowrap;
    font-size: 42px;
    letter-spacing: .1em;
    height: 45px;
    color: cornflowerblue;
    text-shadow: black 5px 0 0.1em, black 5px 0 0.2em;
}

/* */

/* About */
#aboutmePage {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 18vw;
}

.about {
    border-style: solid;
    border-color: #1034A6;
    border-radius: 75px;
    border-width: 5px;
    width: 750px;
    -webkit-border-radius: 75px;
    -moz-border-radius: 75px;
    -ms-border-radius: 75px;
    -o-border-radius: 75px;
    margin-top: 1vh;
    margin-left: -5vw;
    padding: 20px;
    text-align: center;
}

#line {
    border-width: 2px;
    border-style: solid;
    border-color: dodgerblue;
    width: 490px;
    padding: 0;
    margin: 0;
    margin-left: -20px;
}

#aboutList {
    padding-top: 25px;
    list-style-type: circle;
    width: fit-content;
    text-align: justify;
}

ol {
    margin-left: -50px;
    font-size: 24px;
}

li {
    margin-left: 15px;
    font-size: 22px;
}

.about p {
    padding: 0;
    text-align: left;
}

/* */

/* Projects */
#projectsPage {
    display: none;
    margin-left: 75px;
    margin-top: 40px;
}

.projectShowcase {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    margin-left: 5px;
    float: left;
    width: 300px;
    padding: 10px;
    border-style: outset;
    border-color: #1034A6;
    border-width: 7px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}

/*  */

#educationPage {
    display: none;
}

.education {
    margin-top: 50px;
    margin-left: 20px;
}

.internships, .schools {
    float: left;
    border-style: solid;
    padding: 10px;
    margin-top: 100px;
    margin-left: 100px;
    border-width: 5px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}

.internships img {
    height: 157px;
    width: auto;
    padding-top: 25px;
}

.schools img {
    height: 125px;
    width: auto;
    padding-top: 25px;
}

/* Contact */
#contactPage {
    display: none;
    margin-left: 20vw;
    margin-top: 25vh;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form input,
textarea {
    margin: 10px;
    width: 250px;
    text-align: center;
    border-style: solid;
    border-radius: 20px;
    border-width: 5px;
    border-color: black;
    height: 40px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    background-color: skyblue;
    color: white;
    font-size: 18px;
    overflow-y: hidden;
}

#autoresizing {
    text-align: center;
    width: 400px;
    height: 100px;
    word-wrap: break-word;
    word-break: break-all;
    resize: none;
}

label {
    font-size: 24px;
}

#subBtn {
    border-color: black;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-style: solid;
    margin-top: 10px;
    padding: 5px;
    font-size: 24px;
    -webkit-animation: shake-bottom 3s cubic-bezier(0.455, 0.030, 0.515, 0.955) 2s infinite both;
    animation: shake-bottom 3s cubic-bezier(0.455, 0.030, 0.515, 0.955) 2s infinite both;
}

/*  */

/* Key Frames */
@-webkit-keyframes shake-bottom {

    0%,
    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
    }

    10% {
        -webkit-transform: rotate(2deg);
        transform: rotate(2deg);
    }

    20%,
    40%,
    60% {
        -webkit-transform: rotate(-4deg);
        transform: rotate(-4deg);
    }

    30%,
    50%,
    70% {
        -webkit-transform: rotate(4deg);
        transform: rotate(4deg);
    }

    80% {
        -webkit-transform: rotate(-2deg);
        transform: rotate(-2deg);
    }

    90% {
        -webkit-transform: rotate(2deg);
        transform: rotate(2deg);
    }
}

@keyframes shake-bottom {

    0%,
    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
    }

    10% {
        -webkit-transform: rotate(2deg);
        transform: rotate(2deg);
    }

    20%,
    40%,
    60% {
        -webkit-transform: rotate(-4deg);
        transform: rotate(-4deg);
    }

    30%,
    50%,
    70% {
        -webkit-transform: rotate(4deg);
        transform: rotate(4deg);
    }

    80% {
        -webkit-transform: rotate(-2deg);
        transform: rotate(-2deg);
    }

    90% {
        -webkit-transform: rotate(2deg);
        transform: rotate(2deg);
    }
}

/*  */