* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    display: flex;
    background: rgb(124, 116, 255);
    background: -moz-linear-gradient(43deg, rgba(124, 116, 255, 1) 0%, rgba(58, 246, 244, 1) 25%, rgba(100, 70, 255, 1) 51%, rgba(29, 215, 252, 1) 100%);
    background: -webkit-linear-gradient(43deg, rgba(124, 116, 255, 1) 0%, rgba(58, 246, 244, 1) 25%, rgba(100, 70, 255, 1) 51%, rgba(29, 215, 252, 1) 100%);
    background: linear-gradient(43deg, rgba(124, 116, 255, 1) 0%, rgba(58, 246, 244, 1) 25%, rgba(100, 70, 255, 1) 51%, rgba(29, 215, 252, 1) 100%);
    background-repeat: no-repeat;
    height: 100vh;
}

a {
    text-decoration: none;
    color: inherit;
}

.hero {
    width: 400px;
    height: auto;
    border-radius: 500px;
    border-style: outset;
    border-width: 10px;
    border-color: #1034A6;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    -ms-border-radius: 500px;
    -o-border-radius: 500px;
}

nav h1 {
    width: 150px;
    margin: 10px;
}

.overview {
    display: flex;
    padding-top: 200px;
    justify-content: center;
    color: white;
    max-height: 150px;
}

.overview .image {
    margin-right: 50px;
}

.overview .name {
    width: 30%;
    border-style: outset;
    border-width: 7px;
    border-radius: 50px;
    border-color: black;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    padding: 15px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: auto;
}

#aboutmePage {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 25vw;
}

#projectsPage {
    display: none;
}

#contactPage {
    display: none;
    margin-left: 25vw;
    margin-top: 20vh;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

form input {
    margin: 10px;
    width: 250px;
    text-align: center;
}

#autoresizing {
    text-align: center;
    width: 400px;
    height: 100px;
    word-wrap: break-word;
    word-break: break-all;
    resize: none;
}

label {
    font-size: 18px;
}

button {
    border-color: black;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-style: solid;
    margin-top: 20px;
    padding: 7px;
    font-size: 18px;
}

.about {
    border-style: solid;
    border-color: #1034A6;
    border-radius: 50px;
    border-width: 5px;
    width: 500px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    margin-top: 150px;
    padding: 20px;
    text-align: center;
}

.about h1 {
    margin-bottom: 25px;
}

#line {
    border-width: 2px;
    border-style: solid;
    border-color: aquamarine;
    width: 536.5px;
    padding: 0;
    margin: 0;
    margin-left: -20px;
}

#aboutList {
    padding-top: 25px;
    list-style-type: circle;
    width: fit-content;
    padding-left: 200px;
    text-align: justify;
}

/* Animations from https://codepen.io/comehope/pen/yxbEzJ */
.navItemDiv {
    padding-left: 25px;
    padding-top: 200px;
}

.navItem {
    font-size: 25px;
    width: 4em;
    height: 2em;
    text-align: center;
    line-height: 2em;
    font-family: sans-serif;
    text-transform: capitalize;
    position: relative;
    transition: 0.5s;
    margin: 0.8em;
    padding: 10px;
    cursor: pointer;
}

.navItem::before,
.navItem::after {
    content: '';
    position: absolute;
    width: 0.6em;
    height: 0.6em;
    background-color: gainsboro;
    border-radius: 50%;
    transition: 0.5s cubic-bezier(0.5, -0.5, 0.25, 1.5);
    top: calc(50% - 0.6em / 2);
}

.navItem::before {
    left: 0;
    z-index: -1;
}

.navItem::after {
    right: 0;
    z-index: -2;
}

.navItem:hover {
    color: white;
}

.navItem:hover::before,
.navItem:hover::after {
    width: 100%;
    height: 100%;
    border-radius: 50;
    background-color: blue;
    -webkit-border-radius: 50;
    -moz-border-radius: 50;
    -ms-border-radius: 50;
    -o-border-radius: 50;
}

.navItem:hover::before {
    top: 0;
}

.navItem:hover::after {
    top: 10px;
    right: -0.4em;
    filter: brightness(0.8);
}

ol {
    margin-left: -35px;
}